/dts-v1/;

/* skeleton */
/ {
	#address-cells = <1>;
	#size-cells = <1>;
	chosen { };
	aliases { };
	memory { device_type = "memory"; reg = <0 0>; };
};

/* at91rm9200 */
/ {
	model = "Atmel AT91RM9200 family SoC (Emulated)";
	compatible = "atmel,at91rm9200";
	interrupt-parent = <&aic>;

	cpus {
		#address-cells = <0>;
		#size-cells = <0>;
		cpu {
			compatible = "arm,arm920t";
			device_type = "cpu";
		};
	};

	ahb {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;
		apb {
			compatible = "simple-bus";
			#address-cells = <1>;
			#size-cells = <1>;
			ranges;
			aic: interrupt-controller@fffff000 {
				#interrupt-cells = <3>;
				compatible = "atmel,at91rm9200-aic";
				interrupt-controller;
				reg = <0xfffff000 0x200>;
				atmel,external-irqs = <25 26 27 28 29 30 31>;
			};
		};
	};
};

/* emulator */
/ {
	memory {
		reg = <0x40000000 0x04000000>; /* 64 MiB */
	};
};

/* overridden */
/ {
	chosen {
		bootargs = "earlyprintk";
	};
};
